body,html {
    margin: 0;
    padding: 0;
    background: #1C1C1C;
    color: #fff;
    font-weight: 300;
    font-family: ubuntu;

}

h1,h2,h3 {
    margin: 0;
    
}

h1 {
    font-size: 33px;
    font-weight: 300;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
}


/* header -------------------------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1600px;
    padding: 0px 10px;
    box-sizing: border-box;

    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.header h2 {
    font-size: 26px;
    font-weight: 300;
}

.header a {
    display: inline-block;
    padding: 15px 37px;
    font-size: 16px;
    background: #B01DDC;
    border-radius: 50px;
    color: #fff;
}

/* card -------------------------------------- */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 100;

    width: 100%;
    height: 100vh;
}

.card-container > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .02;
    transform: scale(.8);
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1030px;
    width: 100%;

    transform-style: preserve-3d;
}

.card__text h1 {
    transform: translateZ(20px);
}

.card__text h1 span {
    color: #b01ddc;
}

.card__text p {
    font-size: 18px;
    max-width: 435px;
    margin-top: 45px;

    transform: translateZ(-35px)
}

.card__text a {
    display: flex;
    align-items: center;
    color: #b01ddc;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
}

.card__text img {
    display: inline-block;
    width: 10px;
    height: 12px;
    padding: 10px 12px;
    background: #B01DDC;
    border-radius: 50%;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 10px;
}

.ucard {
    max-width: 460px;
    width: 100%;
    padding: 40px 45px 35px 50px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}

.ucard__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 2;
    border-radius: 15px;
}

.ucard h2 {
    position: relative;
    text-align: right;
    z-index: 20;
    transform: translateZ(20px);
}

.ucard h2 span {
    position: relative;
    font-weight: 300;
    z-index: 20;
}

.ucard img:nth-child(2) {
    position: relative;
    margin-top: 15px;
    z-index: 20;
}

.ucard img:nth-child(3){
    position: relative;
    margin-top: 25px;
    z-index: 20;
    transform: translateZ(40px);
}

.ucard img:nth-child(4){
    position: absolute;
    top: 204px;
    left: 145px;
    z-index: 20;
}

.ucard img:nth-child(5){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 420px;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 20;
    opacity: .07;
}

.ucard img:nth-child(6),
.ucard img:nth-child(7){
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.ucard img:nth-child(6){
    left: -10px;
    top: 10px;
}

.ucard img:nth-child(7){
    left: -20px;
    top: 20px;
}

.aftor {
    position: absolute; 
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    opacity: 0.15;
    text-align: center;
}

.aftor span {
    font-weight: 700;
}


/* media ----------------------------- */

@media (max-width: 1100px) {
    .card {
        max-width: 900px;
        flex-direction: column-reverse;
    }

    .card__text {
        margin-top: 20px;
    }
}

@media (max-width: 800px) {
    .header {
        top: 30px;
    }
}